.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    background: #6e78b7;
    display: flex;
}
.row-index {
    flex-direction: row-reverse;
}
.col {
    display: flex;
    width: 25%;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.row-third {
    width: 400px;
    height: 400px;
    justify-content: center;
}
.col-1 {
    background: #d86a43;
}
.col-1-third {
    width:100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}
.col-2 {
    background: darkcyan;
}
.col-3 {
    background: antiquewhite;
}
.col-4 {
    background: orange;
}